.roles {
    /* responsive */

    padding: 3.2rem 6.4rem;
}

.roles__titlebar-grid {
    display: block;
    text-align: center;
    margin-bottom: 1.0rem;
}

.roles__titlebar-container {
    text-align: center;
    margin-bottom: 1.5rem;
}

.roles__title {
    color: var(--white);
    font-weight: 600;

    margin-top: 0;

    font-size: 3.2rem;
    line-height: 3.2rem;
}

.roles__grid {
    display: grid;

    /* responsive */

    grid-template-columns: 1fr 1fr;
    column-gap: 6.4rem;
    row-gap: 6.4rem;
}

.role {
    display: flex;

    background-color: var(--white);

    color: var(--black);

    cursor: pointer;

    transition: all 0.3s ease-in-out 0s;

    /* responsive */

    padding: 4.8rem;

    border-radius: 1.6rem;
}

.role__headline {


    margin-top: 0;

    color: var(--black);
    font-weight: 600;
    letter-spacing: -0.05rem;

    /* responsive */

    font-size: 2.4rem;
    line-height: 3.4rem;
}
